* { box-sizing: border-box }
strong { font-weight: bold }

body,html {
	margin: 0;
	padding: 0;
	touch-action: manipulation;
	/*user-select: none; */
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: 0;
	-webkit-tap-highlight-color: transparent;
}

body{
	font-family: Arial;
	font-size: 16px;
	background: black;
	color: white;
}


/* typography */
@font-face {
	font-family: 'PlutoCondBold';
	src: url('../fonts/2E4864_0_0.eot');
	src: url('../fonts/2E4864_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2E4864_0_0.woff2') format('woff2'),
		 url('../fonts/2E4864_0_0.woff') format('woff'),
		 url('../fonts/2E4864_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'PlutoCondLight';
	src: url('../fonts/2E4864_1_0.eot');
	src: url('../fonts/2E4864_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2E4864_1_0.woff2') format('woff2'),
		 url('../fonts/2E4864_1_0.woff') format('woff'),
		 url('../fonts/2E4864_1_0.ttf') format('truetype');
}

.pluto-bold{ font-family: 'PlutoCondBold' }
.pluto-light{ font-family: 'PlutoCondLight' }


/* common */
.page > footer{
	z-index: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;

	position: absolute;
	bottom: 0; left: 0; right: 0; 
	color: rgba(150,150,150,0.6);
	text-transform: uppercase;
	font-size: 0.8vw;
	line-height: 2;
	padding: 0 5vw 5vh;
	text-shadow: 1px 0 rgba(0,0,0,0.2);
	transition: color .7s ease-out;
}

.page > footer > div a{
	color: rgba(150,150,150,0.6);
	text-decoration: none;
	font-weight: bold;
	transition: color .7s ease-out;
}

.page > footer:hover > div a,
.page > footer:hover{
	color: rgba(200,200,200,0.6);
}

.table{
	display: table
}

.cell{
	display: table-cell;
  	vertical-align: middle;
}

.logo{
	position: absolute;
	z-index: 1;
	top: 50px;
}

body > .logo{
	right: 100px;
}

a{
	color: white;
}


/* sections */
.section{
	z-index: 0;
	position: absolute;
	width: 100%; height: 100%;
	padding: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.section:before{
	content: "";
	position: fixed;
	top:0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.4);
}


/* scrollbar overrides */
.section .ps-container>.ps-scrollbar-y-rail,
.section .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{
	border-radius: 0;
	width: 1px;
}
.section .ps-container:hover>.ps-scrollbar-y-rail,
.section .ps-container>.ps-scrollbar-y-rail{
	opacity: 1;
	background: rgba(255,255,255,0.2);
}
.section .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{
	background: white;
}

.section .ps-container>.ps-scrollbar-x-rail,
.section .ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x{
	display: none;
}