<div class="form-message-success">
  Merci
</div>
<div class="form-message-fail">
  Le formulaire contient des erreurs
</div>

<p>
  <label for="name">Name</label>
  <input id="name" name="form[name]"/>
</p>
<p>
  <label for="email">Email</label>
  <input id="email" name="form[email]"/>
</p>
<p>
  <label for="message">Message</label>
  <textarea id="message" name="form[message]"></textarea>
</p>
<p>
  <button type="submit">Send</button>
</p>
</form>