<div class="section list list--presse">
	<div class="titre">{{collection}}</div>
	<div class="list--presse-sub">EXTRAITS DE PRESSE</div>

	<div class="items">
		{{#list}}
			<img src="{{visuel}}">
			<div class="item-quote"> «{{quote}}» </div>
			<div class="item-author">{{author}}</div>
			<hr/>

		{{/list}}
	</div>
</div>