<div class="list">
	{{#list}}
		<a href="{{titre_slug}}" class="item">
			<div class="item-date">{{date}}</div>
			<div class="item-titre">{{titre}}</div>
			<!-- <img src="{{visuel}}"> -->
		</a>
	{{/list}}
</div>